html{
  height: 100%;
}
body {

  background: radial-gradient(circle at top left, #161231, #161231);
  align-items: center;
  min-height: 100%;
}

#album-rotator {
max-width: 1469px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0 auto; 
}
#album-rotator-holder {
  position: relative;
  user-select: none;
  will-change: transform;
  /* transition: all 0.01s ease-out; */
  /* transition: all 0.01s linear; */
}



.album-item {
position: relative;
width: 200px;
height: 350px;
margin: 4rem 0;
border-radius: 4px;
box-shadow:0 2px 10px rgba(0,0,0,.2);
background-color: #222831;
align-items: center;
border: 2px solid rgb(79, 185, 227);
padding: 130px;
background: black;
box-shadow: 0 2px 30px rgba(0,0,0,0.5);
overflow: hidden;
transition: all 0.2s ease-out;
transform: scale(1);
display: inline-block;
}


.album-item:hover {
  transform: scale(1.02);
}
.album-details {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-shadow: 0 2px 15px rgba(0,0,0,0.5);
  display: inline-block; 
  white-space: initial;
  box-sizing: border-box;
  color: white;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 99;
}
.title {
  font-weight: 900;
  display: inline-block;
  width: 100%;
}
.subtitle {
  font-weight: 100;
  line-height: 1.25rem;
}
.subtext {
  font-size: 1.1167rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25rem 1rem;
  width: 70%;
  white-space: initial;
  letter-spacing: 0;
  box-sizing: border-box;
  font-weight: 400;
}
.icon {
  height: 230px;
  transform-origin: top right;
  display: inherit;
  justify-content: center;
  transition: all 1s; 
  border: 2px solid black;
}
.udomi{
  font: inherit;
  font-size: 1.1167rem;
  font-weight: bold;
  height: 50px;
  transform-origin:top center;
  display: inline-block;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  background-color: rgb(79, 185, 227);
  padding: 10px;
  margin: 50px 0px 0px 155px;
  color: white;
  cursor:pointer
}
.udomi:hover,
.udomi.active {
  background: white;
  color: rgb(79, 185, 227);
}
._udomi{
  font: inherit;
  font-size: 1.1167rem;
  font-weight: bold;
  height: 50px;
  transform-origin:top center;
  display: inline-block;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  background-color: rgb(79, 185, 227);
  padding: 10px;
  margin: 50px 0px 0px 155px;
  color: white;
  cursor:pointer
}
._udomi:hover,
._udomi.active {
  background: white;
  color: rgb(79, 185, 227);
}
.prikaziVise{
  font: inherit;
  font-size: 1.1167rem;
  font-weight: bold;
  height: 50px;
  transform-origin:top center;
  display: inline-block;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  background-color: rgb(79, 185, 227);
  padding: 10px;
  margin: 50px 0px 0px 155px;
  color: white;
  cursor:pointer
}
.prikaziVise:hover,
.prikaziVise.active {
  background: white;
  color: rgb(79, 185, 227);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  font-weight: 600;
  text-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
* {
  box-sizing: border-box;
}



